<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.exguest.mapper.GuestMapper">
	<select id="guestCount">
		select count(*) from tbl_guest
	</select>
	
	<select id="guestList" resultType="com.jslhrd.exguest.domain.GuestDTO">
		select * from tbl_guest order by idx desc
	</select>
</mapper>